{
  "env": {
    "PYTHONUTF8": "1",
    "CLAUDE_WORK_SCOPE": "",
    "CLAUDE_ENFORCE_EVAL": "",
    "CLAUDE_EVAL_CMD": "",
    "CLAUDE_COMMIT_STEP_RULE": "",
    "CLAUDE_SPEC_CHECK": "",
    "CLAUDE_SPEC_RECHECK_N": "",
    "CLAUDE_CROSS_REVIEW": "0",
    "CODEX_MODEL": "",
    "CLAUDE_AUTO_APPROVE": "0",
    "CLAUDE_QUALITY_GATE": "0",
    "CLAUDE_NOTIFY": "0"
  }
}
