{
  "env": {
    "PYTHONUTF8": "1",
    "CLAUDE_WORK_SCOPE": "",
    "CLAUDE_ENFORCE_EVAL": "",
    "CLAUDE_EVAL_CMD": "",
    "CLAUDE_COMMIT_STEP_RULE": "",
    "CLAUDE_SPEC_CHECK": "",
    "CLAUDE_SPEC_RECHECK_N": ""
  }
}
